body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 675px;
  width: 450px;
  border-radius: 20px;
  align-self: center;
  padding: 20px;
  justify-content: space-between;
  background-color: #756971;
  gap: 20px;
}

.display-border,
.buttons-container {
  padding: 15px;
  border-radius: 10px;
  border: solid 3px #7b7177;
  background-color: #62535b;

}

.display {
  display: flex;
  border: 3px solid #392c2b;
  justify-content: flex-end;
  font-size: 60px;
  background-color: #7b7678;
  padding: 0px 15px;
  font-family: 'Audiowide', cursive;
  color: #291f1f;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91px;
  width: 91px;
  font-size: 60px;
  background-color: #5e4d53;
  border-radius: 10px;
  border: solid 3px #37292b;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0px;
  cursor: pointer;
}

button:active,
.button-active {
  box-shadow: 0 6px rgb(109, 108, 108);
  transform: translateY(4px);
}

.backspace,
.clear {
  width: 195px;
  background-color: #de7320;
  color: #cfd4d1;
}

.operator,
.equals {
  background-color: #cfd4d1;
}

.number {
  color: #cfd4d1;
}
